<section class="mountain">
  <div class="container">
    <div class="mountain__wrapper">
      <h2 class="mountain__title">Mountain Collection</h2>
      <div class="mountain__text--wrap">
        <p class="mountain__text--text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste sed
          reprehenderit cum doloribus enim ullam asperiores accusamus.
        </p>
      </div>

      <ul class="mountain__list">
        <li class="mountain__item">
          <div class="mountain__info--wrapper">
            <h3 class="mountain__list--title">Southern Mountain</h3>
            <p class="mountain__list--sub-title">South Country</p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, officiis laudantium aliquam tempora ea,
              natus fugiat vero, similique deleniti. Eligendi libero similique
              possimus eos facilis.
            </p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi.
            </p>
            <a href="#" class="mountain__list--btn">Read More</a>
          </div>
          <div class="mountain__img--wrapper">
            <img src="./images/mountain-1.jpg" alt="" />
          </div>
        </li>

        <li class="mountain__item">
          <div class="mountain__info--wrapper">
            <h3 class="mountain__list--title">Eastern Mountain</h3>
            <p class="mountain__list--sub-title">East Country</p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, officiis laudantium aliquam tempora ea,
              natus fugiat vero, similique deleniti. Eligendi libero similique
              possimus eos facilis.
            </p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi.
            </p>
            <a href="#" class="mountain__list--btn">Read More</a>
          </div>
          <div class="mountain__img--wrapper">
            <img src="./images/mountain-2.jpg" alt="" />
          </div>
        </li>

        <li class="mountain__item">
          <div class="mountain__info--wrapper">
            <h3 class="mountain__list--title">Northern Mountain</h3>
            <p class="mountain__list--sub-title">North Country</p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, officiis laudantium aliquam tempora ea,
              natus fugiat vero, similique deleniti. Eligendi libero similique
              possimus eos facilis.
            </p>
            <p class="mountain__list--text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi, consectetur adipisicing elit. Eos ipsam
              fugit ut deserunt nisi.
            </p>
            <a href="#" class="mountain__list--btn">Read More</a>
          </div>
          <div class="mountain__img--wrapper">
            <img src="./images/mountain-3.jpg" alt="" />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
