<section class="photo">
  <div class="container">
    <div class="photo__wrapper">
      <div class="photo__gallery">
        <div class="photo__spot">
          <h3 class="photo__spot--title">Featured Spots</h3>
          <p class="photo__spot--text">
            Some of featured spot that you might want visit before you die
          </p>
          <a href="#" class="photo__spot--link">View All</a>
        </div>

        <div class="photo__cards--wrapper">
          <div class="photo__cards">
            <ul class="photo__cards--list">
              <li class="photo__cards--item">
                <div class="img__wrapper">
                  <img src="./images/peru.jpg" alt="Photo from Peru" />
                </div>
                <h3 class="photo__cards--title">Ollantaytambo</h3>
                <p class="photo__cards--state">Peru</p>
                <p class="photo__cards--text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Facere, maxime rem. Deserunt quae facilis expedita ab sint!
                  Tempora adipisci.
                </p>
                <a href="#" class="photo__cards--link">read more</a>
              </li>
              <li class="photo__cards--item">
                <div class="img__wrapper">
                  <img src="./images/canyon.jpg" alt="Photo of canyon" />
                </div>
                <h3 class="photo__cards--title">Antelope Canyon</h3>
                <p class="photo__cards--state">USA</p>
                <p class="photo__cards--text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Facere, maxime rem. Deserunt quae facilis expedita ab sint!
                  Tempora adipisci.
                </p>
                <a href="#" class="photo__cards--link">read more</a>
              </li>
              <li class="photo__cards--item">
                <div class="img__wrapper">
                  <img src="./images/lousie.jpg" alt="Photo of Lake" />
                </div>
                <h3 class="photo__cards--title">Lake Louise</h3>
                <p class="photo__cards--state">Canada</p>
                <p class="photo__cards--text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Facere, maxime rem. Deserunt quae facilis expedita ab sint!
                  Tempora adipisci.
                </p>
                <a href="#" class="photo__cards--link">read more</a>
              </li>
            </ul>
          </div>
          <div class="edition-photo">
            <p class="edition-photo__text">Outdoors edition</p>

            <p class="edition-photo__number">2/8</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
