$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;

$accent-color: #fee251;
$logo-color: #323130;
$text-color: #f0f0f1;
$white-color: #fff; 
$nav-color: #979d9d;
$first-background-color: #28272a;
$dark-background-color: #181719;