<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="logo">
        <a href="./index.html">trppd</a>
      </div>
      <div class="footer__year"><p>2017 - 2018</p></div>
      <div class="footer__socials">
        <ul class="footer__socials--list">
          <li>
            <a href="#">
              <svg width="20" height="20" class="social__footer--icon">
                <use href="./images/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20" class="social__footer--icon">
                <use href="./images/symbol-defs.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="#">
              <svg width="20" height="20" class="social__footer--icon">
                <use href="./images/symbol-defs.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="scroll-up">
      <svg class="scroll-up--icon">
        <use href="./images/symbol-defs.svg#icon-arrow-up"></use>
      </svg>
    </div>
  </div>
</footer>
