<section class="hero">
  <div class="container hidden">
    <div class="hero__wrapper">
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a href="./index.html" class="active">Home</a>
          </li>
          <li class="navigation__item"><a href="#">Recommendation</a></li>
          <li class="navigation__item"><a href="#">Explore</a></li>
          <li class="navigation__item"><a href="#">Help</a></li>
          <li class="navigation__item"><a href="#">About Us</a></li>
        </ul>
      </nav>

      <div class="hero__info">
        <h1 class="hero__title">The Walchen Lake</h1>
        <p class="hero__text">
          One of the deepest and largest alpine lakes in Germany and one of the
          best outdoors place that you never imagine before
        </p>
        <a href="#" class="button">Read More</a>
      </div>

      <div class="edition">
        <div class="edition__btn--wrapper">
          <button type="button" class="edition__btn">&#706;</button>
          <button type="button" class="edition__btn">&#707;</button>
        </div>
        <p class="edition__text">Outdoors edition</p>
        <p class="edition__number">2/8</p>
      </div>
    </div>
  </div>
</section>
