.hero {
   background-image: linear-gradient(to top, rgba(11, 11, 14, 0.8), rgba(50, 50, 50, 0.4)), url('../images/lake.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;

    &__wrapper {
        position: relative;
        padding-top: 290px;
        padding-bottom: 290px;
        padding-left: 325px;



        @include tablet {
            padding-top: 190px;
            padding-bottom: 190px;
            padding-left: 265px;
        }

        @include mobile {
            padding-top: 100px;
            padding-bottom: 100px;
            padding-left: 150px;
        }
        
    }

    &__info {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        max-width: 330px;

        @include tablet {
            row-gap: 25px;
            max-width: 280px;
        }

        @include mobile {
            row-gap: 15px;
            max-width: 180px;
        }
    }

    &__title {
        font-size: 50px;
        color: $white-color;

        @include tablet {
            font-size: 40px;
        }

        @include mobile {
            font-size: 30px;
        }
    }

    &__text {
        color: $text-color;
        font-size: 16px;
        line-height: 1.51;

        @include tablet {
             font-size: 14px;
             line-height: 1.3;
        }

        @include mobile {
            font-size: 10px;
        }
        
    }
}

.navigation {
    position: absolute;
    top:  90px;
    left: -56;

    
    padding-top: 80px;
    padding-bottom: 434px;
    padding-left: 56px;
    width: 270px;
    background-color: #00000028;

    @include tablet {
        top:  80px;
        
        padding-top: 50px;
        padding-bottom: 251px;
        padding-left: 56px;
        width: 220px;
   }

   @include mobile {
        top:  51px;

        padding-top: 50px;
        padding-bottom: 118px;
        padding-left: 56px;
        width: 160px;
    }


    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 45px;
        color: $nav-color;

        font-weight: 700;
        font-size: 20px;

        @include tablet {
            row-gap: 35px;
            font-size: 16px;
       }

       @include mobile {
            row-gap: 20px;
            font-size: 12px;
        }

    }

    &__item {
        position: relative;
    }

    & a {
        transition: color $transition-time $cubic;
    }

    & a:hover,
    & a:focus {
        color: $white-color;
    }

}

.navigation__item .active {
    color: $white-color;
}

.active::after {
    content: '';
    position: absolute;
    bottom: 4;
    right: 0;
    display: block;

    height: 2px;
    width: 90px;
    background-color: $white-color;

    @include tablet {
        height: 1px;
        width: 70px;
   }

   @include mobile {
    height: 1px;
    width: 40px;
    }
}


.edition {
    position: absolute;
    bottom: -10;
    right: 0;
    display: flex;
    align-items: center;
    padding-right: 125px;
    width: 930px;

    @include desktop-1200 {
        padding-right: 90px;
        width: 730px;
    }

    @include tablet{
        padding-right: 60px;
        width: 470px;
    }

    @include mobile{
        padding-right: 0;
        width: 230px;
    }

    &__btn--wrapper {
        display: flex;
        column-gap: 10px;

        @include tablet{
            column-gap: 5px;
        }
    }

    &__btn {
        width: 30px;
        height: 30px;
        background-color: $white-color;
        border-radius: 50%;
        cursor: pointer;

        transition: opacity $transition-time $cubic;

        @include tablet{
            width: 25px;
            height: 25px;
        }
    }

    &__btn:hover,
    &__btn:focus {         
        opacity: 0.8;  
    }

    &__text {
        margin-left: 15px;
        color: $white-color;
        font-size: 12px;

        @include tablet{
            margin-left: 10px;
            font-size: 10px;
        }
    }

    &__number {
        position: relative;
        margin-left: auto;
        color: $white-color;

        @include tablet{
            font-size: 12px;
        }
    }

    &__number::before {
        content:'';
        position: absolute;
        display: flex;
        top: 50%;
        right: 87;

        height: 1px;
        width: 500px;
        background-color: $nav-color;

        @include desktop-1200 {
            right: 56;
            width: 385px;
       }

       @include tablet{
            right: 36px;
            width: 220px;
        }

        @include mobile{
            width: 40px;
        }
    }

    &__number::after {
        content:'';
        position: absolute;
        display: flex;
        top: 50%;
        left: 87px;

        height: 1px;
        width: 60px;
        background-color:$nav-color;

        @include desktop-1200 {
            left: 56px;
            width: 55px;
       }

       @include tablet{
            left: 36px;
            width: 40px;
        }

        @include mobile{
            display: none
        }
    }
}



  



