<section class="travel">
  <div class="container">
    <div class="travel__wrapper">
      <div class="travel__photo--wrapper">
        <img src="./images/beach.jpg" alt="" />
      </div>
      <div class="travel__info">
        <h2 class="travel__title">
          Above The<br />
          Sea
        </h2>
        <p class="travel__quote">
          " Eros reque munere ui quo commodo ullamcomper ad eam. His aelerno
          scriptorem ei, sea ut epicuri tincidunt. "
        </p>

        <div class="travel__text--wrapper">
          <p class="travel__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam,
            veritatis. Iusto aperiam tempore, aliquid a sunt veniam reiciendis
            animi dolorem id eum et repudiandae modi quo earum necessitatibus
            voluptatibus placeat.
          </p>
          <p class="travel__text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim eius,
            velit perferendis doloremque, ad aspernatur, voluptatum sunt
            incidunt alias a voluptates culpa. Sunt facere nobis qui, velit
            tenetur quod et! Lorem, ipsum dolor sit amet consectetur adipisicing
            elit. Error debitis reprehenderit. tenetur quod et! Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Error debitis
            reprehenderit. tenetur quod et! Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Error debitis reprehenderit.
          </p>
        </div>
        <a href="#" class="travel__btn">Read More</a>
      </div>
    </div>
  </div>
</section>
