.mountain {
 
    background: linear-gradient(to top, rgba(19, 19, 20), rgba(30, 29, 29, 0.4)), url('../images/mountain-bg.jpg') ; 
    background-position: top;
    background-repeat: no-repeat;
    
    padding-top: 105px;
    padding-bottom: 110px;
    background-size: cover;

    @include tablet {
        padding-top: 70px;
        padding-bottom: 85px;
    }

    @include mobile {
        padding-top: 40px;
        padding-bottom: 55px;
    }

    

    &__wrapper {
        margin-left: auto;
    
        max-width: 1050px;

        @include tablet {
            max-width: 850px;
        }
    }

    &__title {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 50px;
        color: $white-color;

        @include tablet {
            margin-bottom: 30px;
            font-weight: 700;
            font-size: 40px;
        }
    }

    &__text--wrap {
        max-width: 354px;

        @include tablet {
            max-width: 300px;
        }
    }

    &__text--text {
        color: $white-color;
    }

    &__list {
        position: relative;
    }

    &__list::after {
         
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 1200px;
          
            display: block;
            height: 2px;
            background-color:$nav-color;

            @include tablet {
                width: 750px;
            }
         
    }

    &__item {
        position: relative;
        display: flex;
        padding-top: 57px;
        padding-bottom: 57px;   

        @include tablet {
            padding-top: 37px;
            padding-bottom: 37px;  
        }

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 15px;
        }
    }

    &__item:not(:last-child)::after {
       content: "";
       position: absolute;
       bottom: 0;
       width: 100%;
     
       display: block;
       height: 2px;
       background-color:$nav-color;
    }   

    &__info--wrapper {
        max-width: 588px;
    }

    &__img--wrapper {
        margin-left: auto;
        width: 270px;
        height: 270px;
    
        overflow: hidden;

        @include tablet {
            margin-left: unset;
            width: 170px;
            height: 170px;
        }
    }

    &__list--title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 25px;
        color: $white-color;

        @include tablet {
            font-size: 20px; 
            margin-bottom: 8px;
        }
    }

    &__list--sub-title {
        margin-bottom: 30px;
        font-size: 20px;
        color: $nav-color;

        @include tablet {
            font-size: 18px; 
            margin-bottom: 25px;
        }
    }

    &__list--text {
        margin-bottom: 40px;
        color: $text-color;

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__list--btn {
        display: block;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        max-width: 140px;
        background-color: $accent-color;
        border-radius: 22px;

        font-weight: 700;
        font-size: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

        &:hover {
            opacity: 0.9;     
        }
    
        &:active {
            transform: translateY(2px);
        }

        @include tablet {
            padding-top: 10px;
            padding-bottom: 10px;
            max-width: 120px;
            font-size: 14px;
        }
        
    }
}