<section class="form-section">
  <div class="container">
    <h4 class="form-section__title">Subscribe to our news letter</h4>
    <div class="form-section__wrapper">
      <div>
        <form class="form" name="signup_form" autocomplete="on" novalidate>
          <input
            class="form__input"
            type="email"
            name="email"
            placeholder="Your Email"
          />

          <button type="submit" class="form__btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
</section>
