.form-section {
    padding-bottom: 55px;
    background-color: #131314;

    @include tablet {
        display: flex;
        padding-bottom: 40px;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 530px;
        height: 230px;
        background-image: url('../images/world-map-12279.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include mobile {
            max-width: 230px;
            height: 130px;
        }
    }

    &__title {
        text-align: center;
        color: $white-color;
    }
}

.form {
    display: flex;
    column-gap: 5px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
   

    &__input {
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 390px;
        border-radius: 22px;
        border: none;

        @include tablet {
            padding-left: 10px;
            padding-top: 9px;
            padding-bottom: 9px;
            width: 290px;
        }

        @include mobile {
            padding-top: 7px;
            padding-bottom: 7px;
            width: 190px;
          }
    }

    &__btn {
        display: block;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 140px;
        background-color: $accent-color;
        border-radius: 22px;

        font-weight: 700;
        font-size: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:hover {
            opacity: 0.9;     
        }
    
        &:active {
            transform: translateY(2px);
        }

        @include tablet {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 120px;
            font-size: 12px;
        }

        @include mobile {
            padding-top: 8px;
            padding-bottom: 8px;
            width: 100px;
            font-size: 10px;
        }
    }
}