.form-section {
    padding-bottom: 55px;
    background-color: #131314;

    &__wrapper {
        display: flex;
        align-items: center;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 530px;
        height: 230px;

        border: 1px solid red;
    }

    &__title {
        text-align: center;
        color: $white-color;
    }
}

.form {
    display: flex;
    column-gap: 5px;
   

    &__input {
        padding-left: 20px;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 390px;
        border-radius: 22px;
    }

    &__btn {
        display: block;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 140px;
        background-color: $accent-color;
        border-radius: 22px;

        font-weight: 700;
        font-size: 16px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        cursor: pointer;

        &:hover {
            opacity: 0.9;     
        }
    
        &:active {
            transform: translateY(2px);
        }
    }
}