.photo {
    background-color: $first-background-color;

    &__wrapper {
        
        padding-top: 100px;
        padding-bottom: 75px;

        @include tablet {
            padding-top: 60px;
            padding-bottom: 40px;
        }

        @include mobile {
            padding-top: 30px;
            padding-bottom: 20px;
        }
    }

    &__gallery {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        max-width: 1205px;

        @include tablet {
            max-width: 1180px;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
            
        }
    }

    &__cards--wrapper {
        position: relative;
        padding-top: 75px;

        @include tablet {
            padding-top: 55px;
        }

        @include mobile {
            padding-top: 25px;
        }
    }
}

.photo__spot {
    max-width: 153px;
    text-align: right;

    @include desktop-1200 {
        padding: 10px 10px 0 10px;
    } 

    @include tablet {
        max-width: 153px;
    }

    

    &--title {
        font-size: 27px;
        margin-bottom: 20px;
        color: $white-color;

        @include tablet {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }

    &--text {
        margin-bottom: 120px;
        font-size: 15px;
        line-height: 1.33;
        color: $white-color;

        @include tablet {
            margin-bottom: 60px;
            font-size: 12px;
        }

        @include mobile {
            margin-bottom: 20px;
            font-size: 12px;
        }
      
    }

    &--link {
        position: relative;
        font-size: 15px;
        line-height: 1.33;
        color: $white-color;

        transition: color $transition-time $cubic;

        @include tablet {
            font-size: 12px;
        }
    }

    &--link:hover,
    &--link:focus {
        color: $accent-color;
    }

    &--link::before {
        content: '';
        position: absolute;
        display: flex;
        bottom: 3;

        height: 1px;
        width: 90px;
        background-color: $white-color;

        @include tablet {
            width: 70px;
        }
    }
}

.photo__cards {
    margin-bottom: 60px;
    max-width: 930px;

    @include tablet {
        margin-bottom: 40px;
        max-width: 630px;
    }

    &--list {
        display: flex;
        
        width: 100%;
        column-gap: 67px;

        @include tablet {
            column-gap: 37px;
        }

        @include mobile {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &--item {
        max-width: 265px;
        

        @include tablet {
            max-width: 205px;
        }

        @include mobile{
            padding-bottom: 10px;
            
        }
    }

    &--title {
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 25px;
        color: $text-color;

        @include tablet {
            margin-bottom: 5px;
            font-size: 20px;
        }
    }

    &--state {
       font-weight: 700;
       margin-bottom: 30px;
       color: $nav-color;

       @include tablet {
        margin-bottom: 20px;
        }
    }

    &--text {
        margin-bottom: 45px;
        color: $text-color;

        font-size: 12px;
        line-height: 1.33;

        @include tablet {
            margin-bottom: 35px;
            font-size: 10px;
        }
    }

    &--link {
        color: $accent-color;

        font-size: 12px;
        line-height: 1.33;

        transition: opacity $transition-time $cubic;

        @include tablet {
            font-size: 10px;
        }
    }

    &--link:hover,
    &--link:focus {
        opacity: 0.7;
    }
}

.img__wrapper {
    margin-bottom: 45px;
    max-width: 265px;
    max-height: 265px;
    overflow: hidden;

    @include desktop-1200 {
        max-width: 234px;
        max-height: 234px;
    }

    @include tablet {
        margin-bottom: 35px;
        max-width: 185px;
        max-height: 185px;
    }
}

.edition-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 125px;
    width: 930px;

    @include tablet{
        padding-right: 60px;
        width: 470px;
    }

    @include mobile{
        padding-right: 0;
        width: 230px;
    }

    &__text {
        font-size: 12px;
        color: $white-color;

        @include tablet{
            font-size: 10px;
        }
    }

        &__number {
        position: relative;
        color: $white-color;

        @include tablet{
            font-size: 12px;
        }
    }

    &__number::before {
        content:'';
        position: absolute;
        display: flex;
        top: 50%;
        right: 87;

        height: 1px;
        width: 565px;
        background-color: $nav-color;

        @include desktop-1200 {
            right: 56;
       }

       @include tablet{
            right: 36px;
            width: 270px;
        }

        @include mobile{
            width: 105px;
        }
    }

    &__number::after {
        content:'';
        position: absolute;
        display: flex;
        top: 50%;
        left: 87px;

        height: 1px;
        width: 60px;
        background-color:$nav-color;

        @include desktop-1200 {
            left: 56px;
            width: 55px;
       }

       @include tablet{
            left: 36px;
            width: 40px;
        }

        @include mobile{
            display: none
        }
    }
}

