.header {
    position: absolute;
    width: 100%;
    background-color: transparent;
    z-index: 2;

    &__wrapper {
        position: relative;
        display: flex;
        align-items: center;
        height: 90px;

        @include tablet  {
            height: 80px;
        }

        @include mobile  {
            height: 50px;
        }
    }

    &__circle {
        margin-left: 10px;
        width: 30px;
        height: 30px;
        background-color: $logo-color;
        border-radius: 50%;

        @include tablet  {
            margin-left: 8px;
            width: 25px;
            height: 25px;
        }

        @include mobile  {
            margin-left: 20px;
            width: 20px;
            height: 20px;
        }
    }
}

.logo {
    font-weight: 700;
    font-size: 30px;
    color: $logo-color;

    @include tablet  {
        font-size: 25px;
    }

    @include mobile  {
        font-size: 15px;
    }

    &::after {
        content: '';
        display: inline-block;

        width: 18px;
        height: 2px;

        background-color: $logo-color;

        @include tablet  {
            width: 15px;
            height: 2px;
        }

        @include mobile  {
            width: 8px;
            height: 1px;
        }
    }

    &__wrapper {
        position: absolute;
        z-index: -1;
        top: 0;
        left: -56;
        height: 100%;
        width: 360px;
        background-color: $accent-color;

        @include tablet  {
            width: 330px;
        }

        @include mobile  {
            width: 160px;
        }
    }
}

.list {
    display: flex;
    margin-left: auto;
    font-size: 16px;
    color: $text-color;

    @include tablet {
        font-size: 14px;
    }

    @include mobile  {
        font-size: 11px;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    & a {
        transition: color $transition-time $cubic;
    }

    & a:hover,
    & a:focus {
        color: $accent-color;
    }

    &__item::after {
        content: '';
        display: inline-block;
        align-items: center;
        margin-right: 50px;
        margin-left: 50px;
        width: 1px;
        height: 100%;
        background-color: $text-color;

        @include tablet  {
            margin-right: 40px;
            margin-left: 40px;
        }

        @include mobile  {
            margin-right: 20px;
            margin-left: 20px;
        }
      }
}

